@import url('https://fonts.google.com/specimen/Young+Serif');
@import url('https://fonts.google.com/specimen/Outfit');


body{
  font-family:'Outfit', sans-serif;
  margin:0;
  font-size: 0.6em;
  font-weight: 250;
}

.desktop-display{
  max-width: 1400px;
  background-color: hsl(30, 54%, 90%);
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  line-height: 1.65em;
}

.mobile-display {
  background-color: hsl(0, 0%, 100%);
  display: block;
  align-self: center;
  padding: 40px;
  margin: 10px 10px;
  justify-self: center;
  max-width: 500px;
  min-width: 320px;
  border-radius: 10px;
}

.preparation-time {
  background-color: hsl(240, 10%, 95%);
  max-width: 500px;
  border-radius: 5px;
  padding: 10px;
}


h5 {
  color: hsl(332, 51%, 32%);
}

h2, h3, p{
  color: hsl(14, 45%, 36%);

}

.list-instructions, .list-ingredients, ul {
  padding-left: 1.2em;
}

.nutrition-contents {
  display: flex;
  justify-content: left;
  padding: 0;
  margin: 0;
}

.nutrition, .weight, img {
  width: 100%;
  border-radius: 10px;
  margin: 0px, auto;
}

h1, h2 {
  font-family: serif;
  font-weight: bold;
}

hr{
  border: 1px solid  hsl(240, 10%, 95%);
}